.reset-form {
  padding-top: 100px;
}

.forms .form-content .button-reset {
  color: #fff;
  margin-top: 40px;
}
.forms .form-content .button-reset input {
  color: #fff;
  background: #064420;
  border-radius: 6px;
  padding: 0;
  cursor: pointer;
  transition: all 0.4s ease;
}
.forms .form-content .button-reset input:hover {
  background: #064420;
}

.forms .form-content .title-reset {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}
.forms .form-content .title-reset:before {
  margin-top: 10px;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 25px;
  background: #064420;
}

.inputs-reset {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20px;
}

.button-reset .input-box {
  margin-top: -20px;
}
