
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.container-form {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  /* background-color: #eeebdd; */
  background-color: whitesmoke;
  font-family: "Montserrat", sans-serif !important;
}

.contact-image {
  margin-top: 20px;
  height: 800px;
  margin-left: 40px;
  
}


.contact-image:hover {
  transform: scale(1.05);
}
.grid-txt {
  color: black;
  font-size: 20px;
  /* padding-left: 250px;
  padding-right: 250px; */
  padding-left: 80px;
  font-family: "Montserrat", sans-serif !important;
  width:100%;
}
.grid-image {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 10px;
  font-family: "Montserrat", sans-serif !important;
}

.form-contact{
  margin-left: 140px;
}
.typografy{
  font-family: "Montserrat", sans-serif !important;
}

.container-contact-form{
  background-color: whitesmoke;
  
}
.form-contact-info {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-top: 60px;
}
.grid-item-program{
  color: black;
  background-color: white;
  font-size: 20px;
  margin-right: 40px;
  width: 50%;
  height:45%;
  border-radius: 8px;
  /* box-shadow: 5px 10px #f9f9f9; */
  margin-top:40px;
 margin-bottom:40px;
}
.form{
  padding-top:100px;
}