@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100;200;400&family=Rajdhani:wght@300&display=swap");

.container-shipping {
  /* background: rgb(217, 211, 203);
  background: rgb(255, 255, 255);
  background: rgb(255, 255, 255);
  background: rgb(245, 190, 11);
  background: radial-gradient(
    circle,
    rgba(245, 190, 11, 0.6867997198879552) 11%,
    rgba(255, 255, 255, 0.4543067226890757) 92%
  ); */

  background: rgb(238, 220, 130);
  background: linear-gradient(
    90deg,
    rgba(238, 220, 130, 1) 8%,
    rgba(170, 170, 170, 1) 100%
  );
}
.total {
  display: flex;
}

.left {
  display: flex;
  align-items: flex-end;
  height: 800px;
  padding: 40px 40px 40px 0px;
}

.form-shipping {
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 74%;

}

.form-shipping-content {
  /* background-color: rgba(245, 245, 245, 0.096); */
  /* background: transparent; */
  padding: 16px 32px;
  border-radius: 8px;
}

.form-shipping-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  font-family: "Montserrat", sans-serif !important;
  font-size: 32px;
  font-weight: 500;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.text-center p {
  /* background-color: #f0800039; */
  padding: 8px 26px;
  /* border-radius: 12px; */
  /* box-shadow: 4px 2px 5px #f08000; */
}

.button-continue {
  font-family: "Montserrat", sans-serif !important;
  width: 200px;
  font-size: 20px;
  background-color: 	#353935;
  color: white;
  border: none;
  cursor: pointer;
  height: 60px;
  margin: 10px;
}

.image-background {
  background: repeat center url("../assets/opacity4.png");
  background-position: center center;
  background-size: cover;
  /* opacity: 0.8;
    background-color:#fef1c7; */
}
