@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Poppins:wght@100;200;400&family=Rajdhani:wght@300&display=swap");

.container-shipping {
  background: linear-gradient(
    0deg,
    rgba(240, 128, 0, 1) 0%,
    rgba(241, 132, 3, 1) 3%,
    rgba(241, 133, 4, 1) 5%,
    rgba(242, 136, 6, 1) 8%,
    rgba(246, 154, 19, 1) 12%,
    rgba(246, 154, 19, 1) 19%,
    rgba(253, 187, 45, 0.2554271708683473) 56%
  );
}

.form-shipping {
  margin-top: 60px;
  margin-bottom: 60px;
  box-sizing: border-box;
}

.form-shipping-content {
  width: 60%;
  margin: auto;
  background: linear-gradient(
    0deg,
    rgba(240, 128, 0, 1) 0%,
    rgba(241, 132, 3, 1) 3%,
    rgba(241, 133, 4, 1) 5%,
    rgba(242, 136, 6, 1) 8%,
    rgba(246, 154, 19, 1) 12%,
    rgba(246, 154, 19, 1) 19%,
    rgba(253, 187, 45, 0.2554271708683473) 56%
  );
  padding: 16px 32px;
  border-radius: 8px;
}

.form-shipping-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-shipping-content-button {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.text-center {
  font-family: "Catamaran", sans-serif !important;
  font-size: 32px;
  font-weight: 400;
  padding: 10px;
  display: flex;
  justify-content: center;
  /* letter-spacing: 2px;
  word-spacing: 4px; */
}

.text-center p {
  /* background-color: #f0800039; */
  padding: 8px 26px;
  /* border-radius: 12px; */
  /* box-shadow: 4px 2px 5px #f08000; */
}

.button-continue {
  font-family: "Catamaran", sans-serif !important;
}

.frame {
  display: flex;
}

.button-continue {
  width: 200px;
  font-size: 20px;
  background-color: #f08000;
  color: white;
  border: none;
  cursor: pointer;
  height: 60px;
  margin: 10px;
}

.image-background {
  background: repeat center url("../assets/opacity4.png");
  background-position: center center;
  background-size: cover;
  /* opacity: 0.8;
    background-color:#fef1c7; */
}
