@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@100;200;400&family=Rajdhani:wght@300&display=swap');

.total {
  background-color: whitesmoke;
  font-family: 'Montserrat', sans-serif !important;
  padding:25px
  /* box-shadow: 0 0 8px 8px #ffa6002a; */
}

.form-shipping {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-shipping-content {
  padding: 16px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-shipping-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-center {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 32px;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.text-center p {
  padding: 8px 26px;
}

.button-continue {
  font-family: 'Montserrat', sans-serif !important;
  width: 200px;
  font-size: 20px;
  background-color: #FFA500;
  color: white;
  border: none;
  cursor: pointer;
  height: 60px;
  margin-top:10px;
  border-radius: 10px;

}
.div-button-continue{
  width:650px;
  display: flex;
  justify-content: center;
}
.checkout-steps-shipping {
  width: 100%;
  display: flex;
  justify-content: center;

}

.left-img {
  margin-left: -400px;
  margin-right: 100px;
}

