@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.department-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.department-container h5 {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
}
.department-container ul {
  padding: 0;
}

.department-container li {
  margin-bottom: 5px;
}

.department-container a {
  text-decoration: none;
  color: #333;
}

.department-container .text-bold {
  font-weight: bold;
}

.price-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.price-container h5 {
  margin-bottom: 10px;
}

.price-container ul {
  list-style-type: none;
  padding: 0;
}

.price-container li {
  margin-bottom: 5px;
}

.price-container a {
  text-decoration: none;
  color: #333;
}

.price-container .text-bold {
  font-weight: bold;
}

.review-container {
  margin-bottom: 20px;
}

.review-container h5 {
  margin-bottom: 10px;
}

.review-container ul {
  list-style-type: none;
  padding: 0;
}

.review-container li {
  margin-bottom: 5px;
}

.review-container a {
  text-decoration: none;
  color: #333;
}

.review-container .text-bold {
  font-weight: bold;
}

.pagination {
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination .text-bold {
  font-weight: bold;
}

.grid1 {
  padding: 80px;
}

.gridD {
  width: 60%;
  height: 100%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 105px !important ;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

.header-shop {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://i.postimg.cc/BnHL0Zyg/Whats-App-Image-2024-04-05-at-23-24-42-0af7f2af.png);
  background-size: cover;
  height: 400px;
}

.overlay-text-shop {
  margin-top: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.h1-title-shop {
  margin-top: -20%;
  font-size: 3rem;
  white-space: nowrap;
}

.sort-grid {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.sort-select {
  font-size: 18px;
}

.results {
  display: flex;
  justify-content: flex-end;
}

.results-content {
  width: 300px;
  text-align: center;
  padding: 16px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.empty-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  /* width: 100%; */
}

.empty-product-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.118);
  padding: 30px;
}

.pagination-container {
  position: relative;
  margin-top: 60px;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 0;
}
.container-search{
  background-color: #f7f3f0;
  font-family: 'Montserrat', sans-serif;
}