@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Poppins:wght@100;200;400&family=Rajdhani:wght@300&display=swap");
/* .navbar-shipping {
  margin-bottom: 20px;
} */

.title {
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
}

.department-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.department-container h5 {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding: 0;
  border: 0;
  margin: 0;
}
.department-container ul {
  padding: 0;
}

.department-container li {
  margin-bottom: 5px;
}

.department-container a {
  text-decoration: none;
  color: #333;
}

.department-container .text-bold {
  font-weight: bold;
}

.price-container {
  margin-bottom: 20px;
  padding-left: 20px;
}

.price-container h5 {
  margin-bottom: 10px;
}

.price-container ul {
  list-style-type: none;
  padding: 0;
}

.price-container li {
  margin-bottom: 5px;
}

.price-container a {
  text-decoration: none;
  color: #333;
}

.price-container .text-bold {
  font-weight: bold;
}

.review-container {
  margin-bottom: 20px;
}

.review-container h5 {
  margin-bottom: 10px;
}

.review-container ul {
  list-style-type: none;
  padding: 0;
}

.review-container li {
  margin-bottom: 5px;
}

.review-container a {
  text-decoration: none;
  color: #333;
}

.review-container .text-bold {
  font-weight: bold;
}

/* .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
} */

.pagination {
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.pagination .text-bold {
  font-weight: bold;
  font-family: "Catamaran", sans-serif !important;
}

.pagination a:hover,
.pagination .text-bold {
  font-family: "Catamaran", sans-serif !important;
}

.grid1 {
  font-family: "Catamaran", sans-serif !important;
  padding: 80px;
  /*    
  background-color: aqua; */
}

.gridD {
  font-family: "Catamaran", sans-serif !important;
  width: 60%;
  height: 100%;
  /* background-color: #bd8e8e; */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* margin: 20px;  */
  margin-top: 105px !important ;
}

.header-shop {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://i.postimg.cc/BnHL0Zyg/Whats-App-Image-2024-04-05-at-23-24-42-0af7f2af.png);
  background-size: cover;
  height: 400px;
}

.overlay-text-shop {
  margin-top: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.h1-title-shop {
  margin-top: 50%;
  font-size: 3rem;
  white-space: nowrap;
  font-family: "Catamaran", sans-serif;
}

.sort-grid {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.sort-select {
  font-family: "Catamaran", sans-serif;
  font-size: 18px;
}

.results {
  display: flex;
  justify-content: flex-end;
}

.results-content {
  width: 300px;
  /* background-color:rgb(147, 38, 38); */
  text-align: center;
  padding: 16px;
  font-size: 18px;
}

.empty-product{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  /* width: 100%; */
}

.empty-product-content {
  display:flex;
  align-items:center;
  justify-content: space-evenly;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.118);
  padding: 30px;
  font-family: "Catamaran", sans-serif !important;
}