@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.profile-image {
  margin-top: 20px;
  height: auto;
  margin-left: 40px;
  width:80%;
}

.profile-image:hover {
  transform: scale(1.05);
}

.container-profile-screen {
  position: relative;
  display: flex;
  margin-bottom: 40px;
  font-family: 'Montserrat', sans-serif !important;


}

.form-profile,.general-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content-profile {
  width: 800px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typografy {
  font-family: 'Montserrat', sans-serif !important;
  
}

.form-shipping-content-button{
    margin-top:20px;
}
.general-div{
    background-color: whitesmoke;
}

.notificationWarning {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999;
  background-color: #f4d2a5; 
  color:black;

}
.password-textfield {
  position: relative;
  width: 70%;
  margin-bottom: 35px;
}

.password-textfield input {
  width: 100%;
  padding-right: 40px; /* Space for the eye icon */
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: green;
}

.eye-icon.show {
  color: #FFA500;
}

/* .notification, .notificationWarning {
  text-align: center;
  margin-top: 10px;
  color: red;
} */

/* .button-actulizare {
  background-color: #F08000;
  font-family: 'Montserrat, sans-serif';
  font-size: 15px;
  width: 200px;
} */