@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.edit-screen-container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  display: flex;
  margin-bottom: 40px;
  background-color: whitesmoke;
}

.form-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  padding-right: 40px;
  padding-bottom: 40px;
}
.form-product-edit-content {
  /* padding-top: 10px; */
  width: 90%;
  max-width: 700px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-alignment {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-edit-image:hover {
  transform: scale(1.05);
}
.product-edit-image {
  margin-top: 100px;
  margin-left: 60px;
  height: 600px;
  width: 600px;
  /* background-color: aqua; */
  align-items: center;
}

.typography-title{
  font-family: 'Montserrat', sans-serif;
  color:#064420;
}
/* ProductEditScreen.css */
.snackbar-container {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(220%);
  z-index: 9999;
}

.input-field{
  font-family: 'Montserrat', sans-serif !important;
}
