/* .product-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

h1 {
    text-align: center;
}

.form-product-edit-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-alignment {
    width: 100%;
    display: flex;
    justify-content: center;
}