
.checkbox-container {
    display: flex;
    align-items: center;
}
  
  .custom-checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background-color: #555;
    display: none;
  }
  
  
  .checkbox-label {
    font-size: 16px;
    color: #333;
    margin-right: 8px; 
  }

  .notification-user {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; 
    color: white; 
    padding: 15px 20px; 
    border-radius: 5px;
    z-index: 1; 
  }


  .snackbar-container-user {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    background-color: #af4c8c;
  }
  .notification {
    position: fixed;
    top: 100px;
    right: 50px;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  