@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


.checkout-steps {

  margin-bottom: 16px;
  margin-top: 40px; 
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #ccc;
}

.step-item {
  flex-grow: 1;

  border-radius: 4px;
  padding: 8px;
  text-align: center;
  background-color: whitesmoke;
  width: 120px;
}

.active-step {
  background-color: 	#353935 !important;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}


.step{
  font-family: "Montserrat", sans-serif;
  /* font-size: 45px; */
}