@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");


.checkout-steps {
  margin-bottom: 16px;
  margin-top: 40px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:1400px;
  /* gap:300px; */
  border-bottom: 2px solid #ccc;
}

.step-item {
  flex-grow: 1;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  background-color: #ffa60011;
  width: 160px;
  font-family: "Montserrat", sans-serif !important;
}

.active-step {
  background-color: 	#FFA500 !important;
  font-family: "Montserrat", sans-serif !important;
  color: #fff;
}


.step{
  font-family: "Montserrat", sans-serif;
  /* font-size: 45px; */
}