.title-history {
  padding: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 0.608);
}

.place-order {
  background-color: #d77e2b;
  display: flex;
  justify-content: center;
}

.container-place-order {
  position: relative;
}

.order-history-content {
  padding: 80px;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
}
.container-order{
  height:auto;
  background-color: whitesmoke;
}
