@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap");
.navbar {
  width: 98%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-links {
  width: 55%;
  display: flex;
  justify-content:space-evenly;
  list-style: none;
 
}

.nav-link {
  margin: 0 10px;
  text-decoration: none;
}


.div-logo-menu{
  padding:10px;
  display: flex;
  align-items: center;
  width:10%
}

.profile-icons-container {
  display: flex;
  gap: 20px;
  margin-right: 40px;
}

.logo {
  width: 110px;
  height: 110px;
}

.cart-nav {
  cursor: pointer;
}

.active-cont {
  margin-left: 240px;
}

.sidebar-list {
  padding-top: 20px;
}

.sidebar-list a {
  text-decoration: none;
  color: #4d4d4d;
}

.sidebar-list a:hover {
  color: orange;
}

.icons{
  display: flex;
  align-items: center;
  padding:50px;
}