/* OurShop.css */
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Poppins:wght@100;200;400&family=Rajdhani:wght@300&display=swap");
.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-shop{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1495298975657-492a1d068595?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 100vh;
}

.h1-title-shop {
  margin-top: 50%;
  font-size: 3rem;
  white-space: nowrap;
  font-family: "Catamaran", sans-serif;
}

.overlay-text-shop {
  margin-top: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

.shop {
  padding-bottom: 20px;
  background-color: #FFFFFF;
  text-align: center;
  color: rgb(215, 126, 43);
  margin-bottom: 4px;
  padding-top: 50px;
}

.cards-shop {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */

  gap: 20px;
}

