/* .carusel {
  margin-bottom: 80px;

}

.curiosities-container {
  position: relative;
  background-color: #eeebdd;
}

.carusel-box {
  max-width: 100%;

  flex-grow: 1;
  margin: 0;
  padding: 0;
}
*/

.header-curiosities {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.unsplash.com/photo-1702396302605-d5e23a59fc2f?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  height: 400px;
  /* margin-bottom: 50px; */
}

.overlay-text-curiosities {
  margin-top: 200px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.h1-title-curiosities {
  margin-top: -20%;
  font-size: 3rem;
  white-space: nowrap;
}

.curiosity-one,
.curiosity-two,
.curiosity-three,
.curiosity-four {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.image-curiosity-one,
.image-curiosity-three,
.image-curiosity-two,
.image-curiosity-four {
  padding: 0px 100px;
}

.image-curiosity-one img,
.image-curiosity-three img {
  height: 420px;
  width: 650px;
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.text-curiosity-one,
.text-curiosity-two,
.text-curiosity-three,
.text-curiosity-four {
  font-family: 'Montserrat', sans-serif;
}

.text-curiosity-one-title,
.text-curiosity-three-title {
  font-size: 38px;
  margin-bottom: 16px;
  color: #2b2b2b;
}

.text-curiosity-one-content,
.text-curiosity-three-content {
  font-size: 20px;
  line-height: 29px;
  margin-top: 27px;
  color: #6d6a6a;
  padding-right: 100px;
  text-align: justify;
}

.text-curiosity-two-content,
.text-curiosity-four-content {
  font-size: 20px;
  line-height: 29px;
  margin-top: 27px;
  color: #6d6a6a;
  padding-left: 100px;
  text-align: justify;
}
.image-curiosity-two img,
.image-curiosity-four img {
  height: 420px;
  width: 650px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

.text-curiosity-two-title,
.text-curiosity-four-title {
  font-size: 38px;
  margin-bottom: 16px;
  color: #2b2b2b;
  padding-left: 100px;
}

.text-effect {
  /* background-color: #fff;  */
  /* padding: 100px; */
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f1f1e8; */
  width: 50%;
  height: 100px;
  border-radius: 20px;
}
.text-effect-parent {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.hexagon-container {
  margin-top: 150px;
  display: flex;
  justify-content: center; /* Center the hexagons horizontally */
  flex-wrap: wrap;
}
.hexagon {
  width: 175px; /* Adjust the width as needed */
  height: 200.47px; /* Adjust the height as needed */
  position: relative;
  margin: 50px 20px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden; /* Ensure the image doesn't overflow */
}

.hexagon:nth-child(1),
.hexagon:nth-child(3),
.hexagon:nth-child(5),
.hexagon:nth-child(7) {
  margin-top: -40px; /* Adjust the negative margin to move them up */
}
.hexagon img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hexagon:before,
.hexagon:after {
  content: '';
  position: absolute;
  width: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.hexagon:before {
  top: -25px;
  border-bottom: 25px solid #6c7a89; /* Adjust the color to match the background */
}

.hexagon:after {
  bottom: -25px;
  border-top: 25px solid #6c7a89; /* Adjust the color to match the background */
}

.final-text {
  margin-top: 100px;
  margin-bottom: 100px;
  color: #2b2b2b;
  font-size: 25px;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
}
