.forgot-form{
padding-top:150px;
}

.forms .form-content .button-forgot{
    color: #fff;
    margin-top: 40px;
  }
  .forms .form-content .button-forgot input{
    color: #fff;
    background: #064420;
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button-forgot input:hover{
    background: #064420;
  }