
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.background-container {
  position: relative;
  /* z-index: 1; */
}

.p-title {
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 600;
}

.overlay-text {
  position: absolute;
  top: 250px;
  left: 500px;
  color: white;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  white-space: nowrap;
  font-weight: 600;

}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://i.postimg.cc/66MQJ4Qw/Whats-App-Image-2024-04-05-at-22-59-35-d0e805f9-1.png);
  background-size: cover;
  height: 500px;
}

.card-media {
  height: 400px;
  width: 400px;
}

.about-products {
  padding-top: 40px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
  font-weight: 300;
  /* color: rgb(215, 126, 43); */
}

.about-products-p {
  font-weight: 400;
  color: #ffa500;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;

  padding: 10px;
}
.grid-item {
  padding-left: 300px;
  padding-right: 300px;
  font-size: 30px;
  text-align: center;
  color: rgb(7, 7, 7);
}
.grid-container-img {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.grid-item-img {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.grid-item-text {
  color: black;
  font-size: 30px;
  padding: 150px;
}
.new-products {
  padding-bottom: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  color: rgb(215, 126, 43);
  /* background-color: rgb(193, 192, 250); */
}

.text-new-product {
  font-family: "Montserrat", sans-serif;
}

.photos {
  display: flex;
  height: 140px;
  padding: 30px;
  justify-content: center;
  width: 100%;
}
.image:hover {
  transform: scale(1.1);
}
.carousel {
  margin-top: 40px;
  /* background-color: #fff7ec; */
  width: 100%;
}
.text-photos {
  padding-top: 20px;
  padding-left: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;;
}

.contact {
  font-family: "Montserrat", sans-serif;
}
/* .MuiButton-outlinedPrimary {
  color: rgb(148, 88, 88) !important;
} */
